@keyframes pulse {
  0%, 25%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.pulse {
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  animation-name: pulse;
}
